<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ChatPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="chat-container">

    <ng-container *ngFor="let window of chatWindows; let i = index">
      <div class="chat-window">
        <div class="chat-title">
          <span>{{window.title}}</span>
        </div>

        <div #chatContainer class="chat-bubble-container">
          <div class="chat-bubble" [class.from-me]="chat.from == window.title" *ngFor="let chat of chatMessages">
            <span>
              {{chat.from+': '+chat.message}}
            </span>
          </div>
        </div>

        <div class="actions">
          <ion-input [(ngModel)]="inputText[window.title]" placeholder="Text Input"></ion-input>
          <button (tap)="sendMesasge(window.title)">Send</button>
        </div>
      </div>
    </ng-container>

  </div>
  <ion-fab bottom right>
    <button (tap)="addChatWindow()" ion-fab icon-only>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>